
.expense-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expense-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 50px;
}

.input-container{
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.input-name{
  width: 45mm;
  height: 9mm;
  margin-right: 25px;
  background-color: darkblue;
  color: white;
}

.input-text{
  width: 45mm;
  height: 9mm;
}

.button{
  width: 40mm;
  height: 9mm;
  margin-right: 20px;
  background-color: darkblue;
  color: white;
  cursor: pointer;
}

.crops-table{
  /* margin-left: 2%;
  margin-top: 2%;
  width: 30vw;
  border-style: solid; */
  margin-top: 50px;
  margin-bottom: 50px;
}

* {padding: 0px;

}

.header-row{
  width: 20mm;
}

table, th, td {
  border: 1px solid;
}

.table-btn{
  width: 15mm;
  color: black;
  background-color: blanchedalmond;
}